<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="stylesheet" href="../static/css/login_style.css">
        <link rel="stylesheet" href="../static/css/default.css">
        <title>Document</title>
    </head>
    <body>
        <main>
            <div class="container">
                <div class="titulo">
                    <div>
                        <h1>Seja Bem-Vindo Novamente ao CodeCom!</h1>
                        <p>CodeCom é uma plataforma inovadora projetada para simplificar o processo de compartilhamento de imagens, vídeos e outros tipos de mídias com as pessoas que você mais ama😁</p>
                    </div>
                </div>
                <div class="cadastro">
                    <form action="" method="post">
                        {{ form.csrf_token }}
                        <div>
                            <div>
                                {{ form.password() }}
                            </div>
                            <div>
                                {{ form.email() }}
                            </div>
                        </div>
                        <div class="confimar">
                            {{ form.button() }}
                        </div>
                    </form>
                </div>
            </div>
        </main>
    </body>
</html>