<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="stylesheet" href="../static/css/default.css">
        <link rel="stylesheet" href="../static/css/navbar.css">
        <title>Document</title>
    </head>
    <body>
        {% include 'navbar.html' %}
        <main>
            <div>
                <h1>Minhas Postagens</h1>
                <div class="postagens">
                    {% for photo in user.posts %}
                        <img src="{{ url_for('static', filename='photo_posts/{}'.format(photo.image)) }}" alt="">
                    {% endfor %}
            </div>
        </main>
    </body>
</html>